/* --------------Hero section--------------*/

.mobile-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hero img {
  width: 40%;
  max-width: 250px;
}

/* --------------Our Values--------------*/
li {
  list-style-position: inside;
}

/* --------------FYEO Team--------------*/
.card-img {
  width: 100%;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5%;
}

.fa-linkedin {
  font-size: 36px;
  color: #323232;
}

/* ---------------------------Desktop layout start---------------------------*/
/* --------------Hero section--------------*/
@media screen and (min-width:800px) {
  .three-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 1.5rem;
  }

  #hero h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
  }

  #hero img {
    grid-column: 1/2;
    width: 100%;
    grid-row: 2/5;
  }

  #hero-p {
    grid-column: 2/4;
    grid-row: 2/3;
    line-height: 1.5rem;
  }

  #hero-name {
    font-size: 1.25rem;
    font-family: circular-medium, sans-serif;
    grid-row: 1/2;
    align-self: flex-end;
  }

  /* --------------Our Values--------------*/
  #our-values p,
  #our-values ul {
    grid-column: 2/4;
  }

}
